body{
    background-color: #87bcee;
}
p{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #15568f;
}
#awards{
    font-style: italic;
    color: #25035b;
}
ul>li{
    color: #25035b;
}